.all-conatiner {
  margin: 15px 15px;
}

header .site-name {
  font-weight: 300;
  font-size: 2em;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: 0;
}

header .left-image {
  text-indent: -10000px;
}

header .right-image p {
  font-family: 'Roboto', Arial, sans-serif;
  position: absolute;
  bottom: 3px;
  right: 15px;
}

header .left-image,
header .right-image,
header .collage {
  background-repeat: no-repeat;
  height: 250px;
}

header .collage {
  background-position: center center;
}

header .right-image {
  background-position: right 10px top;
}

header .left-image {
  background-position: 10px top;
}

header .left-image {
  background-image: url("http://placehold.it/250x250&text=Petr+I");
}

header .right-image {
  background-image: url("http://placehold.it/250x250&text=F.F.+Ushakov");
}

header .collage {
  background-image: url("http://placehold.it/500x250&text=collage");
}

.main-menu .columns {
  padding: 0;
}

.main-menu .top-bar {
  margin-top: 0;
  margin-bottom: 10px;
}

.secondary-menu {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: #e9e9e9;
  font-weight: 300;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 0.8em;
}

.secondary-menu a {
  text-decoration: underline;
}

.secondary-menu .button-group {
  text-align: center;
}

/*.secondary-menu li {
  float: none;
  display: inline;
  list-style-type: none;
}*/

.secondary-menu .button {
  margin: 0;
  border-style: none;
}

.secondary-menu .divider {
  font-size: 2em;
  font-weight: bold;
  padding-left: 0.3375em;
  padding-right: 0.3375em;
}

.site-search,
.site-search:focus {
  background-repeat: no-repeat !important;
  background-image: url("../img/bg-search-filed.png") !important;
  background-position: 5px center !important;
  padding-left: 25px !important;
}

.side-nav {
  font-weight: 700;
  font-family: 'Roboto';
}

.sidebar-header {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  /*margin: 0;*/
}